<div class="layout">
	<mat-card class="card">
		<mat-card-header>
			<mat-card-title>Sign in</mat-card-title>
		</mat-card-header>
		<mat-error *ngIf="error">{{ error }}</mat-error>
		<mat-card-content>
			<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
				<div class="container">
					<mat-icon> email</mat-icon>
					<mat-form-field>
						<mat-label>Enter your email</mat-label>
						<input matInput placeholder="pat@example.com" formControlName="email" required />
						<mat-error *ngIf="form.value.email">Please enter a valid email address</mat-error>
					</mat-form-field>
				</div>
				<div class="container">
					<mat-icon>lock</mat-icon>
					<mat-form-field>
						<mat-label>Enter your password</mat-label>
						<input matInput placeholder="Password" formControlName="password" required />
						<mat-error *ngIf="form.value.password"
							>Password must be a combination of lower-case, upper-case, numbers and at least 9 characters
							long</mat-error
						>
					</mat-form-field>
				</div>
				<mat-card-actions align="end">
					<button [disabled]="form.invalid" type="submit" mat-stroked-button>Sign in</button>
				</mat-card-actions>
			</form>
		</mat-card-content>
	</mat-card>
</div>
