.example-card {
    max-width: 800px;
    margin-bottom: 15px;
}

mat-card-header {
    margin-bottom: 10px;
}

.main-div {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
