a {
    text-decoration: none;
    color: white;
}

a:hover,
a:active {
    color: lightgray;
}

.container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.nav {
    display: flex;
    width: 15%;
    justify-content: flex-end;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-item:not(:last-child) {
    padding-right: 15px;
}

mat-toolbar {
    border-radius: 3px;
}

@media(max-width: 959px) {
    mat-toolbar {
        border-radius: 0px;
    }
    .nav-item {
        padding-right: 0px;
    }
}